*.swp
*.pyc
*.DS_Store
*.png
*.pkl
*.csv
*.txt
._*
config/*
!config/README.md
config/training/*
!config/training/
!config/training/training.config.example
!config/training/README.md
config/deployment/*
!config/deployment/
!config/deployment/deployment.config.example
!config/deployment/README.md
data/*
!data/README.md
data/facebook_unstructured/*
!data/facebook_unstructured/
!data/facebook_unstructured/README.md
data/facebook_structured/*
!data/facebook_structured/
!data/facebook_structured/README.md
data/facebook_parsed/*
!data/facebook_parsed/
!data/facebook_parsed/README.md
trained_models_backup/*
!trained_models_backup/README.md
.dir_bash_history
./idea/*
