# CONFIGURABLE PARAMETERS FOR BASH TRAINING EXECUTION


# -- Section 1: Parametrized String Variables --

# Simple string variables for the train.sh execution

# path to fb-friendbot-factory app directory
APPLICATION_PATH=/home/<USERNAME>/Projects/fb-friendbot-factory/app

# executable dependency path variables
PYTHON2_PATH=/home/<USERNAME>/Programs/anaconda2/envs/<FB_FRIENDBOT_FACTORY_PYTHON2_ENV>/bin/python
PYTHON3_PATH=/home/<USERNAME>/Programs/anaconda2/envs/<FB_FRIENDBOT_FACTORY_PYTHON3_ENV>/bin/python
FBCAP_PATH=/home/<USERNAME>/Programs/anaconda2/envs/<FB_FRIENDBOT_FACTORY_PYTHON2_ENV>/bin/fbcap

# path to uncompressed facebook archive - retrieved via https://www.facebook.com/help/212802592074644?helpref=uf_permalink
FACEBOOK_ARCHIVE_PATH=/home/<USERNAME>/Projects/fb-friendbot-factory/data/facebook_unstructured/facebook-<USERNAME>

# parameters related to the 'fbchat-archive-parser' dependency - namely: output path & output archive format type
FACEBOOK_STRUCTURED_OUTPUT_TYPE=csv
FACEBOOK_STRUCTURED_OUTFILE_PATH=/home/<USERNAME>/Projects/fb-friendbot-factory/data/facebook_structured/fb_messages_all.csv

# output destination & trainable data format to be prepared by the 'fb_messages_parser.py' python script
PARSED_DATA_FORMAT=deep_qa
PARSED_DATA_PATH=/home/<USERNAME>/Projects/DeepQA/data/lightweight

# desired output/backup directory for trained models
# notes:
# - may not be easily supported by some training libraries
# - set to empty sting if no backup is required
TRAINED_MODELS_BACKUP_PATH=/home/<USERNAME>/Projects/fb-friendbot-factory/output_dest/trained_models_backup

# desired output directory for aggregated message stats
MESSAGE_STATS_DIR_PATH=/home/logan/Projects/fb-friendbot-factory/output_dest/stats

# directory path for model training library
MODEL_TRAINING_ROOT_DIR=/home/<USERNAME>/Projects/DeepQA


# -- Section 2: Training Execution Variables --

# Changing below parameters likely reflects a change in training library (default = DeepQA)
# and may require updating the 'train.sh' accordingly unless the training library migration
# requires only a subset of these parameters...

TRAINABLE_MODEL_TAG="${formatted_target_user_str}-${sentence_length}"

TRAINED_MODEL_ORIGINAL_DESTINATION="${MODEL_TRAINING_ROOT_DIR}/save/model-${TRAINABLE_MODEL_TAG}/"

MODEL_TRAINING_EXECUTION_COMMAND=$PYTHON3_PATH $MODEL_TRAINING_ROOT_DIR/main.py --modelTag "$TRAINABLE_MODEL_TAG" --corpus lightweight --datasetTag "$TRAINABLE_MODEL_TAG" --maxLength $sentence_length --rootDir "$MODEL_TRAINING_ROOT_DIR"


# -- Section 3: Array Declaration Variables --

# Array variables to orchestrate batch of training executions

# list of target users for which to create chatbots
# TARGET_USER_RAW_STRINGS_ARRAY=("FIRSTNAME_1 LASTNAME_1" "FIRSTNAME_2 LASTNAME_2" "FIRSTNAME_N LASTNAME_N")

# list of sentence lengths on which to train separate models
DEFAULT_SENTENCE_LENGTHS_ARRAY=(10 50 100)

# can also overide sentence lengths for specific users
sentence_lengths_array_firstname1_lastname1=(1 10 20)
